* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#ocean {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ocean-wrapper {
  display: inline-block;
  position:relative;
}
.grid-wrapper {
  position:relative;
  margin:2rem;
  margin-bottom:4rem;
  width:22rem;
}
.header-cell,
.aside-cell {
  text-align: center;
  line-height: 2rem;
}
.aside-col {
  width:2rem;
}
.grid-holder {
  position:absolute;
  top:2rem;
  left:2rem;
}
h2 {
  position: absolute;
    top: -2rem;
}
span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eee;
  vertical-align: middle;
}
.ship {
  background:#f1f1f1;
  border-color:#ddd;
}
.red {
   background:red!important;
}
.grey {
  background:#999!important;
}
#enemy .ship {
  border-color:#eee;
  background:transparent;
}
input {
  border:1px solid #eee;
  padding:1rem 2rem;
}
button {
  border:0;
  margin:0;
  padding:1rem 2rem;
  background:#eee;
  color:#333;
}
#message {
  min-height:2rem;
  line-height:1rem;
  padding:10px 0px;
  color:rgb(209, 68, 68);
}